*_private.zsh
*_creds.zsh
.netrwhist
nginx/vhosts/github*
vim/vim.symlink/bundle/**
vim/vim.symlink/autoload/plug.vim.old
tmux/tmux.symlink/plugins/**
tmux/tmux.symlink/resurrect/**
fish/functions/**
ruby/bundle.symlink/cache/**

