"*":
  core:
    themes: [
      "one-dark-ui"
      "cobalt2-syntax"
    ]
  editor:
    fontFamily: "inconsolata"
    invisibles: {}
  "exception-reporting":
    userId: "1f9709cf-d9a3-18bc-44a8-76fea8073dbe"
  linter:
    subtleLinterErrors: [
      "shellcheck"
      "puppet-lint"
    ]
  "linter-puppet-lint":
    oldVersion: false
    puppetLintArguments: "--no-autoloader_layout-check"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "notational-velocity":
    directory: "/Users/cjs/Dropbox/Notational Data"
  "one-dark-ui": {}
  "status-bar": {}
  welcome:
    showOnStartup: false
