#!/usr/bin/env bash

{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $packages := list
"build-essential"
"direnv"
"fish"
"fuse"
"fzf"
"jq"
"libfuse2"
"ripgrep"
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{ $sudo = "" -}}
{{ end -}}

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ if .codespaces }}
{{ $sudo }}groupadd fuse
{{ $sudo }}usermod -aG fuse "$(whoami)"
{{ end -}}
