{{ if .codespaces -}}
#!/usr/bin/env bash

{{ $packages := list
"build-essential"
"fuse" 
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{ $sudo = "" -}}
{{ end -}}

set -eufo pipefail

if ! dpkg -o DPkg::Lock::Timeout=60 -s {{ $packages | join " " }}; then
  if [ ! -d "/var/lib/apt/lists" ] || [ "$(ls /var/lib/apt/lists/ | wc -l)" = "0" ]; then
      {{ $sudo }}apt-get update -y -o DPkg::Lock::Timeout=60
  fi
  {{ $sudo }}echo 'debconf debconf/frontend select Noninteractive' | {{ $sudo }}debconf-set-selections
  {{ $sudo }}apt-get install -y -o DPkg::Lock::Timeout=60 {{ $packages | join " " }}
fi

{{ $sudo }}modprobe fuse
{{ $sudo }}groupadd fuse
{{ $sudo }}usermod -aG fuse {{ .chezmoi.username }}

{{ end -}}
